.swiper__wraper{
	position: relative;
	padding-inline: 50px;
}
// .swiper {
// 	width: 100%;
// 	height: 100%;
//   }

.swiper__card{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	background-color: var(--color-accent);
	color: var(--color-dark);
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
}

.swiper__card-body{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	padding-bottom: 20px;
}


.swiper-button-prev{
	left:0;
}
.swiper-button-next{
	right: 0;
}
.swiper-button-prev::after{
	
	color: var(--color-accent);
}

.swiper-button-next::after{
	
	color: var(--color-accent);
}

.swiper-pagination-bullet-active{
	background-color:var(--color-accent);
	
}
.swiper-pagination-bullet{
	width: 10px;
	height: 10px;
}


.swiper-pagination-bullets.swiper-pagination-horizontal{
	bottom: -40px;
}